<Project>
	<PropertyGroup>
    <!-- Note: All paths should end in a slash -->
		<!-- Should point to the installation directory of Timberborn -->
		<TimberbornPath>C:\Program Files (x86)\Steam\steamapps\common\Timberborn\</TimberbornPath>
		<!-- Should point to the BepInEx directory -->
		<BepInExPath>C:\Dev\BepInEx\</BepInExPath>
    <!-- Should point to the most recent version of the ModSettings mod libraries -->
    <ModSettingsPath>C:\Program Files (x86)\Steam\steamapps\workshop\content\1062090\3283831040\version-0.7\Scripts</ModSettingsPath>
		<!-- Should point to the Documents path, where Timberborn/Mods is located -->
		<!-- Use the registry because the doc folder can be modified outside $(USERPROFILE) like E:\DocLibrary -->
		<DocumentsPath>$(registry:HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\User Shell Folders@Personal)\</DocumentsPath>
	</PropertyGroup>
</Project>