<Project>
	<PropertyGroup>
    <!-- Note that all paths should end in a slash -->
		<!-- Note that MSBuild accepts both forward slashes & backslashes -->
		<!-- Point to the installation directory of Timberborn -->
		<TimberbornDataPath>$(HOME)/Library/Application Support/Steam/steamapps/common/Timberborn/Timberborn.app/Contents/Resources/Data/</TimberbornDataPath>

		<!-- Point to the Documents path, where Timberborn/Mods is located -->
		<DocumentsPath>$(HOME)/Documents/</DocumentsPath>

    <!-- Point to the most recent version of the Harmony mod library -->
    <HarmonyPath>$(DocumentsPath)/Timberborn/Mods/Harmony_2.4.1/</HarmonyPath>

    <!-- Point to the most recent version of the ModSettings mod libraries -->
    <ModSettingsPath>$(DocumentsPath)/Timberborn/Mods/modsettings-ey0f/version-1.0/Scripts/</ModSettingsPath>
	</PropertyGroup>
</Project>
