<Project>
	<PropertyGroup>
    <!-- Note: All paths should end in a slash -->
		<!-- Should point to the installation directory of Timberborn -->
		<TimberbornPath>$(HOME)/Library/Application Support/Steam/steamapps/common/Timberborn/Timberborn.app/Contents/Resources/Data/</TimberbornPath>
		<!-- Should point to the BepInEx directory -->
		<BepInExPath>$(HOME)/dev/BepInEx/BepInEx/</BepInExPath>
    <!-- Should point to the most recent version of the ModSettings mod libraries -->
    <ModSettingsPath>$(HOME)/Documents/Timberborn/Mods/modsettings-ey0f/version-1.0/Scripts/</ModSettingsPath>
		<!-- Should point to the Documents path, where Timberborn/Mods is located -->
		<DocumentsPath>$(HOME)/Documents/</DocumentsPath>
	</PropertyGroup>
</Project>
